.header-container {
  height: 170px;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;

  .box-logo {
    width: 50%;
    height: 100%;
    float: left;
  }

  .nav-group {
    height: 100%;
    width: 265px;
    float: right;
  }

  .box-logo {
    padding: 30px 0 0 30px;
    .heading-1,
    .logo-link {
      display: block;
      height: 100%;
    }
  }
}