<!doctype html>
<html lang="en">
<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
    "title": "ALLAMANDA"
  })
  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>
<body>
  <div class="wrapper wrapper-full" id="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')
    <!-- @@include('../partials/menu-fullpage.html') -->
    <section class="main-container" id="main-container">
      @@include('../partials/slides-container.html')
      <div class="clearfix"></div>
    </section>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>
</html>