<section class="menu-container" id="menu-container">
  <div class="block-container">
    <div class="container-fluid">
      <div class="row">
        <div class="center">
          <div class="col-xs-12">
            <ul class="list">
              <li class="list-item">
                <a href="#" class="link">
                  <span class="icon-large icon-Icon_Home"></span>
                  <span class="text">THE VILLAS</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>