<div class="slides-container">
  <div class="container">
    <div class="single-item slider-for">
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-01.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-02.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-03.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-04.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-05.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-06.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-07.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-08.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-09.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-10.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-11.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-12.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-01.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-02.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-03.png')">
      </div>
      <div class="slide-box background-full" style="background-image: url('./images/bg-slide-04.png')">
      </div>
    </div>
    <div class="slider-nav slider">
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-01.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-02.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-03.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-04.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-05.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-06.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-07.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-08.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-09.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-10.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-11.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-12.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-01.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-02.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-03.png')">
      </div>
      <div class="slide-thumbnail-item background-full" style="background-image: url('./images/bg-slide-04.png')">
      </div>
    </div>
  </div>
</div>
