<div class="slides-container">
  <div class="container">
    <div class="single-item">
      <div class="slide-box" style="background-image: url('../../images/bg-slide-01.png')">
        <div class="content">
          <h2 class="heading-2">VILLAS ANH</h2>
          <p class="description">
            Neque porro quisquam est qui dolorem ipsum
            quia dolor sit amet,consectetur, adipisci velit
          </p>
          <div class="view-more">
            <a href="#" class="link">View More &#8594;</a>
          </div>
        </div>
      </div>
      <div class="slide-box" style="background-image: url('../../images/bg-slide-02.png')">
        <div class="content">
          <h2 class="heading-2">ALLAMANDA ESTATE</h2>
          <p class="description">
            Between sky and earth, in the middle of rice paddies,
            our charmingeco lodge Allamanda Estate is waiting for you.
          </p>
          <div class="view-more">
            <a href="#" class="link">View More &#8594;</a>
          </div>
        </div>
      </div>
      <div class="slide-box" style="background-image: url('../../images/bg-slide-03.png')">
        <div class="content">
          <h2 class="heading-2">VILLAS ANH</h2>
          <p class="description">
            Neque porro quisquam est qui dolorem ipsum
            quia dolor sit amet,consectetur, adipisci velit
          </p>
          <div class="view-more">
            <a href="#" class="link">View More &#8594;</a>
          </div>
        </div>
      </div>
      <div class="slide-box" style="background-image: url('../../images/bg-slide-04.png')">
        <div class="content">
          <h2 class="heading-2">VILLAS MAI</h2>
          <p class="description">
            Neque porro quisquam est qui dolorem ipsum
            quia dolor sit amet,consectetur, adipisci velit
          </p>
          <div class="view-more">
            <a href="#" class="link">View More &#8594;</a>
          </div>
        </div>
      </div>
      <div class="slide-box" style="background-image: url('../../images/bg-slide-05.png')">
        <div class="content">
          <h2 class="heading-2">ALLAMANDA ESTATE</h2>
          <p class="description">
            Between sky and earth, in the middle of rice paddies,
            our charmingeco lodge Allamanda Estate is waiting for you.
          </p>
          <div class="view-more">
            <a href="#" class="link">View More &#8594;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>