<div class="slides-container">
  <div class="container">
    <div class="single-item">
      <div class="slide-box" style="background-image: url('../../images/bg-slide-01.png')">
        <h3>1</h3>
      </div>
      <div class="slide-box" style="background-image: url('../../images/bg-slide-01.png')">
        <h3>2</h3>
      </div>
      <div class="slide-box" style="background-image: url('../../images/bg-slide-01.png')">
        <h3>3</h3>
      </div>
      <div class="slide-box" style="background-image: url('../../images/bg-slide-01.png')">
        <h3>4</h3>
      </div>
      <div class="slide-box" style="background-image: url('../../images/bg-slide-01.png')">
        <h3>5</h3>
      </div>
      <div class="slide-box" style="background-image: url('../../images/bg-slide-01.png')">
        <h3>6</h3>
      </div>
    </div>
  </div>
</div>