<div class="slides-container">
  <div class="content">
    <div class="gallery-list">
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-01.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Mai</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-05.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-03.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Anh</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-04.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Living area</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-06.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Our awesome services</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-07.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-08.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-09.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-10.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-11.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-12.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-02.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-03.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Anh</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-04.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Living area</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-05.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-11.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-10.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
        <div class="gallery-box">
          <a href="" class="b-link">
            <div class="background-full b-text" style="background-image: url('../images/bg-slide-12.png');">
              <div class="b-bottom">
                <h3 class="heading-3 pull-left">Villas Sen</h3>
                <span class="short-text pull-right">View album</span>
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
</div>
