<footer class="footer-container">
  <div class="copyright">
    <p class="text">&copy; 2017 Allamanda Estate. All Rights Reserved</p>
  </div>
  <ul class="list social-network-list">
    <li class="list-item">
      <span class="icon-left icon-Icon_Owl"></span>
    </li>
    <li class="list-item">
      <span class="icon-left icon-Icon_Youtube"></span>
    </li>
    <li class="list-item">
      <span class="icon-left icon-Icon_Instagram"></span>
    </li>
    <li class="list-item">
      <span class="icon-left icon-Icon_FB"></span>
    </li>
  </ul>
  <div class="clearfix"></div>
</footer>