<footer class="footer-container">
  <div class="copyright">
    <p class="text-bold">&copy; 2017 Allamanda Estate. All Rights Reserved</p>
  </div>
  <ul class="list social-network-list">
    <li class="list-item">
      <a href="#" class="link">
        <span class="icon-Icon_Facebook"></span>
      </a>
    </li>
    <li class="list-item">
      <a href="#" class="link">
        <span class="icon-Icon_Instagram"></span>
      </a>
    </li>
    <li class="list-item">
      <a href="#" class="link">
        <span class="icon-Icon_Youtube"></span>
      </a>
    </li>
    <li class="list-item">
      <a href="#" class="link">
        <span class="icon-Icon_Owl"></span>
      </a>
    </li>
  </ul>
</footer>