<header class="header-container">
  <div class="box-logo">
    <h1 class="heading-1">
      <a href="./" class="logo-link">
        <span class="logo"></span>
      </a>
    </h1>
  </div>
  <div class="book-box">
    <button class="btn-book">
      <span class="icon-Icon_BookNow icon-left"></span>
      <span class="text">Book Now</span>
    </button>
  </div>
  <div class="menu-toggle" id="menu-toggle">
    <button class="btn-menu" id="btn-menu-top">
      <span class="line-01"></span>
      <span class="line-02"></span>
      <span class="line-03"></span>
    </button>
  </div>
  <section class="menu-container" id="menu-container">
    <div class="block-center">
      <ul class="list list-menu">
        <li class="list-item">
          <a href="./" class="link active">
            <span class="icon-large icon-Icon_TheVillas"></span>
            <span class="description">THE VILLAS</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#" class="link">
            <span class="icon-large icon-Icon_Details"></span>
            <span class="description">THE DETAILS</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#" class="link">
            <span class="icon-large icon-Icon_Location"></span>
            <span class="description">LOCATIONS</span>
          </a>
        </li>
        <li class="list-item">
          <a href="./gallery-list.html" class="link">
            <span class="icon-large icon-Icon_Gallery"></span>
            <span class="description">GALLERY</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#" class="link">
            <span class="icon-large icon-Icon_Review"></span>
            <span class="description">REVIEWS</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#" class="link">
            <span class="icon-large icon-Icon_Review"></span>
            <span class="description">RATES</span>
          </a>
        </li>
        <li class="list-item">
          <a href="#" class="link">
            <span class="icon-large icon-Icon_ContactUs"></span>
            <span class="description">CONTACT US</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</header>