<header class="header-container">
  <div class="box-logo">
    <h1 class="heading-1">
      <a href="/" class="logo-link">
        <span class="logo"></span>
      </a>
    </h1>
  </div>
  <div class="nav-group">
    <button class="btn-book">
      <span class="icon-Icon_BookNow icon-left"></span>
      <span class="text">Book Now</span>
    </button>
    <button class="btn-menu">
      <span class="line-01"></span>
      <span class="line-03"></span>
      <span class="line-02"></span>
    </button>
  </div>
  <div class="clearfix"></div>
</header>