// Font family
//---------------------------------------------
$text-bold: 'Roboto-Bold';
$text-regular: 'Roboto-Regular';
$text-medium: 'Roboto-medium';
$text-italic: 'Roboto-Italic';

// Color text
//---------------------------------------------
$color-white: #fff;
$color-black: #000;